@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {
  :root {
    --text: 150 6% 7%;
    --background: 150 10% 96%;
    --primary: 154 38% 24%;
    --secondary: 153 24% 72%;
    --accent: 155 33% 65%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
  .dark {
    --text: 150 6% 93%;
    --background: 150 10% 4%;
    --primary: 154 38% 76%;
    --secondary: 153 24% 28%;
    --accent: 155 33% 35%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}